<% html = capture do %>
<% if @issue.new_record? %>
<div class='insertTemplate' style="margin-bottom: 15px; margin-left: -180px;">
<% form_remote_tag :html => {:method => :get}, :url => { :controller => 'issue_templates', :action => 'show'} do %>
  <label style="margin-left: 0; margin-right: 5px;"><%= l(:label_issue_template_insert) %></label>
  <select id="template_selector" name="id" >
    <%= issue_templates_options %>
  </select>
	<%= submit_tag l(:label_issue_template_insert_button) %>
<% end %>
</div>
<% end %>
<% end %>

<% javascript_tag do %>
  $('issue_description').insert({after: '<%= escape_javascript(html) %>'});
<% end %>
